- if current_user.is_admin
  %table
    %tr
      %td 
        %h2 Budget
      %td
        %h2 Invested
      %td
        %h2 Left
    %tr
      %td= @company.amount_spent
      %td= @company.invested
      %td= @company.left

%br
%br
%h2 Feed
= render "/giftings/gift_listing", :gifts => @gifts
  
%h2 Employees
- @employees.each do |employee|
  = render "employee_profile", :employee => employee

